/*********
*背景颜色
*********/
.redBGColor{
	background: #ea4027;
}
.whiteBGColor{
	background: #ffffff;
}
/*facebook-card*/
.card-header{
	height: 54px;
}
.fb{
	float: left;
	width: 216px;
}
.followBtn{
	width: 64px;
	float: right;
	margin-top: 3px;
	color: #ea4027;
	border-color: #ea4027;
}
.facebook-card .card-header {
display: block;
padding: 10px;
}

.facebook-card .facebook-avatar {
	float: left;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	overflow: hidden;
}
.facebook-avatar img{
	width: 34px;
	height: 34px;
}
.facebook-card .facebook-name {
margin-left: 44px;
font-size: 14px;
font-weight: 500;
}
.facebook-card .facebook-date {
margin-left: 44px;
font-size: 13px;
color: #8e8e93;
}
.facebook-card .card-footer {
background: #fafafa;
}
.facebook-card .card-footer a {
color: #81848b;
font-weight: 500;
}
.facebook-card .card-content img {
display: block;
width: 100%;
padding-bottom: 10px;
}
.facebook-card .card-content-inner {
padding: 15px 10px;
}
/*********
*字体大小
*********/
.font20{
	font-size: 20px;
	line-height: 16px;
}
.font18{
  font-size: 18px;
}
.font16{
	font-size: 16px;
}
.font13{
  font-size: 13px;
}
.font11{
	font-size: 11px;
}
/*********
*字体颜色
*********/
.grayColor{
	color: #959595;
}
.redColor{
	color: #ea4027;
}